<%= form_with(model: message) do |form| %>
  <div>
    <%= form.label :chat_room_id, style: "display: block" %>
    <%= form.text_field :chat_room_id %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.textarea :content %>
  </div>

  <div>
    <%= form.submit "send" %>
  </div>
<% end %>
