<%= turbo_stream.append "message" do %>
    <% if @message.user_id==current_user.id %>
            <div class="source_user_message">
                <%= current_user.name %> : <%= @message.content %>
            </div>
        <% else %>
            <div class="destination_user_message">
                <%= @message.user&.name %> : <%= @message.content%>
            </div>
        <% end %>
<% end %>