<%= turbo_frame_tag "message" do %>
  <%= form_with(url: chat_room_messages_path(@chat_room.id),method: :post) do |form| %>
    <div class="message_form">
      <%= form.hidden_field :chat_room_id,value:@chat_room&.id %>
      <%= form.text_field :content ,class:"message_input"%>
      <%= form.hidden_field :user_id,value:current_user.id %>
      <%= form.submit "send" %>
    </div>
  <% end %>
<% end %>
