<%= turbo_frame_tag "message" do %>
  <%= form_with(url:chat_rooms_path) do |form| %>
      <%= form.hidden_field :follower_id,value:current_user.id %>
      <%= form.hidden_field :followed_id,value:@user&.id %>
      <%= form.submit "Message",class:"message_btn" %>
    </div>
  <% end %>
<% end %>