<%= link_to "Go Back",posts_path,class:"go_back" %>
<div class="individual_user_container">
    <div class="individual_picture_and_links">
        <%# following situation for the visited user %>
        <div class="individual_followers">
            <div class="individual_followers_title"> following:
                <%= @followers.length %>
            </div>
            <div class="individual_following_title"> followers:
                <%= @followed.length %>
            </div>
        </div>  

        <div class="individual_picture"> <%= image_tag @user.profile_pic.variant(resize_to_fill:[400,300]),class:"individual_profile_pic" %> </div>
        
        <div class="follow_and_message">
            <%= turbo_frame_tag "toggle_follow" do%>
                <%= render partial: "friendships/follow_unfollow",locals:{user:@user} %>
            <% end %>

            <div class="message_user">
                <% if ChatRoom.find_by(follower_id:current_user.id,followed_id:@user.id).present? %>
                    <%= button_to "To Messages",root_path %>
                <% else %>
                    <%= link_to "Message",new_chat_room_path(follower_id:current_user.id,followed_id:@user.id),class:"message_btn" %>
                <% end %>
            </div>
        </div>    
    </div>
    <div class="individual_user_posts">
            <%= render @user.posts %>
        </div>
</div>