<%= stylesheet_link_tag "root_page" , media:"all" , 'data-turbo-track': 'reload' %>
<div class="rootBody">
<h2 class="loginTitle">"Welcome home! We missed you and can't wait to hear all about your adventures." </h2>
<div class="loginContainer">

  <div class="loginForm">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="nameField">
      <%= f.text_field :name, autofocus: true, autocomplete: "username",placeholder: "username",class:"username" %>
    </div>

    <div class="emailField">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "email",class:"username" %>
    </div>

    <div class="passwordField">
      <%= f.password_field :password, autocomplete: "current-password",placeholder:"password",class:"username" %>
    </div>

    <div class="loginAndcheckbox">
      <% if devise_mapping.rememberable? %>
        <div class="checkboxField">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actionsField">
        <%= f.submit "Log in",class:"loginButton" %>
      </div>
    </div>
  <% end %>

  <div class="shrLinks">
    <%= render "devise/shared/links" %>
  </div>
</div>  
</div>