<div class="user_post">
    <div class="curr_user"> <%= link_to "#{User.find_by(id: post.user_id).name}",user_path(post.user_id) %> </div>
    <div class="post_title">
        <div class="post_content"><%= post.title %></div>
        
        <div class="post_links">
            <% if current_user.likes.exists?(post_id:post.id) %>
                <%# destroy the like %>
                
                <div class="unlike_post"><%= render "unlike_post",post:post %></div>
            <% else %>
                <%# create the like %>
                <div class="like_post"><%= render "like_post",post:post %></div>
            <% end %>

            <div class="comm">Comment</div>
            <div class="share_post">Share</div>
        </div>

        <div class="comment_post">
            <%= render "render_comment_text",post:post %>            
        </div>

        <div class="add_comment">    
            <%# profile photo goes here instead of name %>
            <%= current_user.name %> 
            <%= turbo_frame_tag "comment_content_#{post.id}",src:new_post_comment_path(post),class:"new_comment_form" %>
        </div>
            
    </div>
</div>
