<div class="user_post">
    <div class="curr_user"> <%= post.user.name %> </div>
    <div class="post_title">
        <div class="post_content"><%= post.title %></div>
        
        <div class="post_links">
            <% if current_user.likes.exists?(post_id:post.id) %>
                <%# destroy the like %>
                
                <div class="unlike_post"><%= render "unlike_post",post:post %></div>
            <% else %>
                <%# create the like %>
                <div class="like_post"><%= render "like_post",post:post %></div>
            <% end %>

            <div class="comm">Comment</div>
            <div class="share_post">Share</div>
        </div>

        <div class="comment_post">
                <div class="comment_photo">
                    <%= current_user.name %>
                </div>
                
                <%= turbo_frame_tag "comment_content_#{post.id}",src:new_post_comment_path(post) %>
        </div>
            
    </div>
</div>
