<%= stylesheet_link_tag "index_page" , media:"all" , 'data-turbo-track': 'reload' %>
<div class="pages_main_container">
    <div class="picture_and_searchbar">
        <div class="profile_picture"> 
            <%= link_to edit_user_registration_path(current_user) do %>
                <%= image_tag current_user.profile_pic.variant(resize_to_fill: [200, 200]),class:"tweak_prof_pic" %> </div>
            <% end %>
        <div class="search_bar"> 
                <%= render "search_users" %>
         </div>
    </div>

    <div class="all_content_second_row">

        <div class="first_row_second_grid">

            <div class="friend_list"> <%= link_to "Friends" ,user_path(current_user),class: :friend_button %> </div>
            <div class="saved_posts"> Saved </div>
            <div class="log_out_button"><%= button_to "Log Out" , destroy_user_session_path,class: :logout_button , method: :delete %></div>

        </div>

        <div class="second_row_second_grid">
            <div class="add_new_post">
                <%# new post form %>
                <%= turbo_frame_tag "new_post",src:new_user_post_path(current_user.id) %>
            </div>

            <div id="rest_of_feed">                
                <%= render @posts %>
            </div>
        </div>

        <div class="third_row_second_grid">
            <div class="message_feed">
                <%= ChatRoom.find_by(follower_id:current_user.id,followed_id:@user&.id)&.id %>
            </div>
            
            <div class="news_feed">

            </div>
        </div>
    </div>
</div>

